<div class="container-fluid border rounded-2 p-3">
    <div class="row">
        <div class="col-12 ">
            <h3 class="border-bottom p-2 text-primary"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
              </svg></a>  Delete Product</h3>
        </div>
    </div>
    <div class="row p-1 ">
        <div class="col-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="ProductName" class="form-label fw-bold">Product Name</label>
                            <input type="text" class="form-control form-control-sm" id="ProductName" placeholder="Name">
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="IdProduct" class="form-label fw-bold">Id Product</label>
                            <input type="text" class="form-control form-control-sm" id="IdProduct" placeholder="#ABC123">
                          </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Delete</button>
                  </div>
            </div>
            


   
       

           
        
    </div>
</div>