<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark  min-vh-100" style="width: 280px;" >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Inviapp</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="" routerLink="home" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="" routerLink="inputs" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Input Product
        </a>
      </li>
      <li>
        <a href="#" routerLink="outputs" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Output Product
        </a>
      </li>
      <li>
        <a href="#" routerLink="regproducts" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Register Product
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <button type="button">Log out</button>
    
      
    </div>
  </div>

  
<div class="b-example-divider"></div>
   

    
</body>
</html>
