<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-primary  min-vh-100"  >
    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Inviapp</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <div class="d-grid gap-2">
          <a routerLink="home" class="btn btn-light text-primary" type="button">Home</a>
        </div>
      </li>
      <li>
        <div class="d-grid gap-2">
          <a routerLink="inputs" class="btn btn-primary" >Input Product</a>
        </div>
      </li>
      <li>
        <div class="d-grid gap-2">
          <a routerLink="outputs" class="btn btn-primary" >Output Product</a>
        </div>
      </li>
      <li>
        <div class="d-grid gap-2">
          <a routerLink="regproducts" class="btn btn-primary" >Register Product</a>
        </div>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        
        <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
    </div>
  </div>

