<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark  min-vh-100"  >
    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Inviapp</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use/></svg>
          Home
        </a>
      </li>
      <li>
        <a routerLink="inputs" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"></svg>
          Input Product
        </a>
      </li>
      <li>
        <a routerLink="outputs" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"></svg>
          Output Product
        </a>
      </li>
      <li>
        <a routerLink="regproducts" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"></svg>
          Register Product
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        
        <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
    </div>
  </div>

