<div>
  <form #login = "ngForm" (ngSubmit) = "login(login.value)">
    <div>
      <label for = "email">Correo Electronico:</label>
      <input (ngModel) = "email" name = "email" id = "email" type = "email" placeholder="abcd@outlook.com">
    </div>
    <div>
      <label for = "password">Contrasena:</label>
      <input (ngModel) = "password" name = "password" id = "password" type = "password" placeholder="password">
    </div>
    <button type="submit">Iniciar Sesion</button>
    <button type="button">Regresar</button>
  </form>
</div>