<div class="container-fluid border rounded-2 p-3">
    <div class="row">
        <div class="col-12 ">
            <h3 class="border-bottom p-2 text-primary">New Value Product</h3>
        </div>
    </div>
    <div class="row p-1 ">
        <div class="col-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class=" mb-3">
                        <label for="ProductName" class="form-label fw-bold">Product Name</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Category" class="form-label fw-bold">New Value</label>
                            <input [(ngModel)]="Category" type="text" class="form-control form-control-sm" id="Category" placeholder="Solid/Liquid">
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="Capacity" class="form-label fw-bold">Minimum Stack</label>
                            <input [(ngModel)]="Capacity" type="text" class="form-control form-control-sm" id="Capacity" placeholder="Stack - 200">
                          </div>
                    </div>
                    </div>
                </div>
            </div>
        <div class="col-12 col-md-3 ">
            <div class="border p-3">
                <p class="fw-bold"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                  </svg>  ID</p>
                <p>Product identifier is: <a class="text-primary" style="text-decoration: none;">{{Id}}</a> </p> 
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="border p-3">
                <p class="fw-bold"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                  </svg> Product Name</p>
                  <p>Product name is: <a class="text-primary" style="text-decoration: none;">{{ProductName}}</a> </p> 
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="border p-3">
                <p class="fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                      </svg> Actual Product</p>
                <p>Actual Product is: <a class="text-primary" style="text-decoration: none;">{{Capacity}} </a> </p>    
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="border p-3">
                <p class="fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-stacked" viewBox="0 0 16 16">
                        <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3z"/>
                      </svg> Minimum Stack</p>
                <p>Minimum Stack is: <a class="text-primary" style="text-decoration: none;">{{MinimumStack}}  </a> </p>
                
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="text-center p-3">
                <p >see a table to view the product record, review the information before confirming</p>
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <button class="btn btn-primary" type="button">Update Product</button>
                  </div>
            </div>
        </div>
    </div>
</div>