
        <span class="position-absolute bottom-0 rounded end-0 bg-primary m-4 p-2" >
            <img src="assets/img/logo_white.png" width="100px" alt="">
        </span>
        
        <div class="row p-0 m-0">
            <div class="col-12 col-md-2 p-0 m-0"><app-navbar></app-navbar></div>
            <div class="col-12 col-md-10 p-0 m-0">

                <div class="container ">
                    <div class="row">
                        <app-products></app-products>
                        
        
        


        
                            </div>
                          </div>


                    </div>
                </div>

                  


<router-outlet></router-outlet>